extends base



mixin navItem(link,text,icon,active)
  li(class=`${active ?  'side-nav--active' : '' }`)
    a(href=`${link}`)
        svg
            use(xlink:href=`img/icons.svg#icon-${icon}`)
        | #{text}

block content
 main.main
  .user-view
    nav.user-view__menu
      ul.side-nav
        +navItem('#','Settings','settings',true)
        +navItem('#','My bookings','briefcase',false)
        +navItem('#','My reviews','star',false)
        +navItem('#','Billing','credit-card',false)
          
      - if (user.role === 'admin')    
        .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#','Manage tours','map',false)
              +navItem('#','Manage users','users',false)
              +navItem('#','Manage reviews','star',false)
              +navItem('#','Manage bookings','briefcase',false)
            
    .user-view__content
      .user-view__form-container
        h2.heading-secondary.ma-bt-md Your account settings
        //- WITHOUT API
        //- form.form.form-user-data(action='/submit-user-data' method='POST')

        //- WITH API
        form.form.form-user-data
          .form__group
            label.form__label(for='name') Name
            input#name.form__input(type='text', value=`${user.name}`, required,name='name')
          .form__group.ma-bt-md
            label.form__label(for='email') Email address
            input#email.form__input(type='email', value=`${user.email}`, required,name='email')
          .form__group.form__photo-upload
            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
            //- When we click on the below link "Choose new photo" then we want a new window to open from which we can select a new
            //- image to upload and then when we click on the Save settings button and submit a form then we want to upload an image
            //- into our backend and update the user. First step in implementing the above feature is adding an input element into
            //- our HTML which is basically our account.pug template which will then allow the file selector to open when we click
            //- on the "Choose new photo" link and below one is not a link but it is just a placeholder. So just get rid of it.
            //- a.btn-text(href='') Choose new photo
            input.form__upload(type='file', accept='image/*' , id='photo',name='photo')
            //- When we click on the below label then it will actually activate the input element which has the id that we have specified
            //- in the "for" which is the for='photo' and id='photo' and this label has the text which is "Choose new photo". So when
            //- we click on the below label element then it will actually activate the input element which has the id that we have specified
            //- above which is id of "photo". After uploading the photo then there are two possible ways of sending this uploaded photo
            //- to the server. First one is , Without the API which is in the above we did which is specifying the action field in the 
            //- form and also the method that we have taken which is "POST" then the data will be directly sent to the server. Now if we
            //- want to send a file using this method then we would need to specify another option here which is enctype and it has to be
            //- "multipart/form-data" which is the default value for form elements. After setting this value then
            //- the browser will send the file along with the form data as a single entity. This is the second step.
            //- enctype="multipart/form-data" , "multipart" is always for sending the files to the server and again we need the multer
            //- middleware to handle this "multipart" form data and the name multer itself comes from the multi-part and again if we wanted 
            //- to send the data without an API then we have to always specify the "enctype" otherwise the form would always ignore
            //- the file and not send it. But as we already know that we are actually using that with an API, So we donot need to specify
            //- this "enctype" but we will do it programatically.So let's now send our data including ofcourse the photo by doing an API
            //- call
            label(for='photo') Choose new photo
          .form__group.right
            button.btn.btn--small.btn--green Save settings
            //- When we click on the above button element then the form will automatically get submitted and the data will
            //- be sent using a POST request to the above url which is "/submit-user-data". There are also different ways
            //- in which the data is actually sent but the default one is called URL encoded and this is the one we are
            //- using here. In this default method we are encoding all the data that we are submitting in the URL a bit
            //- like query string. This is the first step. And the second step is to specify the name properties on the
            //- fields that we actually want to send. Here we want to send the name and email properties.So there are
            //- two inputs which are the name and email and these values will be sent with a request based on their name
            //- attributes and we are going to send name='name' and name='email' in the above two input elements

      .line &nbsp;

      .user-view__form-container
        h2.heading-secondary.ma-bt-md Password change
        form.form.form-user-password
          .form__group
            label.form__label(for='password-current') Current password
            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            label.form__label(for='password') New password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-lg
            label.form__label(for='password-confirm') Confirm password
            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.right
            button.btn.btn--small.btn--green.btn--save-password Save password
